.colors{
    display:inline-block;
    margin-bottom: 10px;
    margin-right: 10px;
    border-radius: 5px;
    background-color: #dedede;
    cursor:pointer;

}

.colors.selected{
    background: #ffb410;
    color: #fff;
}
/* notify */
div#noty_layout__topRight {
    margin-top: 50px;
}
/* custom products  */
.product-wrap .order .order-button{
    background-color: #002e45; color: white;
}
.product-wrap .order .order-button:hover{
     background-color: rgb(213, 15, 15);
}
.row .card:hover{
    border-color: #002e45;
}

/* swiper css  */
.swiper {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;

  }

  .swiper .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 250px;
    height: 250px;
    border-radius: 10px;
    border: 1px solid green;

  }
  .swiper .swiper-slide img{
    height: 200px;
    border-radius: 10px;

  }

  .swiper-slide img {
    display: block;
    width: 100%;
  }

